.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.logo-container {
  position: relative;
  max-width: 100px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox {
  position: relative;
  max-width: 600px;
}

.textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.textBox p {
  color: #333;
}

.textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.imgBox img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}

/* Add media queries for mobile responsiveness */
@media (max-width: 991px) {
  .header {
    padding: 20px;
  }
  
  .header .content {
    flex-direction: column;
    margin-top: 100px;
  }

  .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;
  }

  .imgBox img {
    max-width: 300px;
  }

  .thumb li img {
    max-width: 40px;
  }
}

@media (max-width: 600px) {
  .textBox h2 {
    font-size: 2em;
  }

  .imgBox img {
    max-width: 250px;
  }  
}

